@model IEnumerable<OptikaWeb.Models.Frame>

<div class="h2 text-center border-bottom mb-4">
    <h2>@ViewBag.CategoryList</h2>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="justify-content-center col-sm-12  p-5 p-sm-1 col-md-6 col-lg-4 col-xl-3">
            <div class="card shadow">
                <div class="card-body">
                    <img class="card-img text-center" src="~/FrameImages/@item.ImageUrl" />
                </div>
                <h5 class="card-text text-center">
                    @item.Name
                </h5>
                &nbsp;
            </div>
            &nbsp;
        </div>
    }
</div>
<script src="~/js/site.js"></script>
<script>
    $(document).ready(function(){

        $(".card").mouseenter(function() {


            $(this).addClass("card-mod");

        }).mouseleave(function(){

            $(this).removeClass("card-mod");

        });

    });

</script>