@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("Carousel")

<div class="container justify-content-center mt-5">
    <div>
        <h1 class="text-center">
            Naslovna
        </h1>
    </div>
</div>

<div class="container clearfix justify-content-center">
    <div class="modal-content border-0">
        <p class="text-center">
            <span class="text-left">&nbsp;</span>
        </p>
        <p class="text-center">Dobro došli na stranice OPTIKEWebApp&nbsp;<br/><br/>
            OptikaWebApp Sesvete je već 10 dana s Vama.<br/><br/>
            <strong>
                SPECIJALIZIRANA OPTIKA ZA IZRADU DIOPTRIJSKIH NAOČALA ZA ODRASLE
            </strong>, stoga ćete ovdje naći brojne informacije kako poboljšati Vaš vid!<br/>
            Za nas Vaš vid je neprocjenjiv i stoga svakom klijentu pristupamo individualno i s posebnom pažnjom, kako bismo zadovoljili sve aspekte:
            napravili kvalitetan pregled od strane liječnika oftalmologa u POLIKLINICI NOVAK, odabrali funkcionalne naočalne leće usklađene Vašim svakodnevnim potrebama te odabrali okvir prilagođen Vašoj osobnosti.</p>
    </div>
</div>


<div class="container justify-content-center">
    <div class="modal-content justify-content-center text-center border-0">
        <h3 class="text-centere mt-4 pb-4 border-bottom">
            MATERIJALI ZA NAOČALNE LEĆAs
        </h3>
        <p class="text-center mt-4">
            Otkada su se prvi put pojavile na tržištu, organski materijali nastavili su se razvijati te sve češće zamjenjuju mineralne leće.<br/>
            Takvi materijali imaju manju težinu, pružaju veću otpornost na ogrebotine i udarce, te su potpuno revolucionalizirali živote nosica naočala.<br/>
            Essilor je svjetski lider u organskim  lećama i ima ključnu ulogu u razvijanju rastućih raspona visoke izvedbe.<br/>
            <p class="justify-content-center ">
                Essilor naočalne leće (naziv i indeks loma leće) :<br/>
                •LINEIS 1.74<br />
                •STYLIS 1.67<br />
                •ORMIX 1.6<br />
                •AIRWEAR 1.59<br />
                •ORMA 1.5
            </p>
        </p>
        <img class="justify-content-center img-fluid" src="~/Lens/lens.jpg"/>
    </div>
</div>


